.gamecontainer {
    height: 100%;
    width: 24%;
    margin: 1em;
    display:flex;
    font-size:40px;
    font-family: "Verdana",Geneva, sans-serif;
    font-weight: bold;
    color:black;
}

.game {
    border-style: inset;
    border-width: 0.05em;
    border-spacing: 0px;
    border-color: #f6f6FF;
    background-color: black;
    padding: 0.05em;
    margin:auto;
    width: auto;
}

.clear {
    clear:both;
}

.blackcell {
    display: inline-block;
    float:left;
    border-style: outset;
    border-width: 0.05em;
    background-color: #E0E0FF;
    border-color: #f6f6FF;
    width: 1.2em;
    height: 1.2em;
    margin:0.1em;
    text-align: center;
    background-color: darkgrey;
}

.whitecell {
    display: inline-block;
    float:left;
    border-style: outset;
    border-width: 0.05em;
    background-color: #E0E0FF;
    border-color: #f6f6FF;
    width: 1.2em;
    height: 1.2em;
    margin:0.1em;
    text-align: center;
    background-color: white;
}

.row {
    display: inline-block;
    float: left;
    background-color:#eeeeee;
    padding: 0.05em;
    margin:0.05em;
    width: 12em;
    height: 1.5em;
}