a:link {
    color: black;
}
@media (min-width: 480px) {
    .pagecontainer {
        width: 29em;
        margin: auto;
        margin-top: 1em;
        display: block;
    }

    .gamecontainer {
        height: 100%;
        width: 24%;
        margin: 0em;
        display:inline-flex;
        font-size:30px;
        line-height: 33px;
        font-family: "Verdana",Geneva, sans-serif;
        font-weight: bold;
        color:black;
    }
}

@media (min-width: 800px) {
    .pagecontainer {
        width: 33.5em;
        margin: auto;
        margin-top: 1em;
        display: block;
    }

    .gamecontainer {
        height: 100%;
        width: 0%;
        margin: 0em;
        display:inline-flex;
        font-size:40px;
        line-height: 44px;
        font-family: "Verdana",Geneva, sans-serif;
        font-weight: bold;
        color:black;
    }
}

@media (min-width: 1000px) {
    .pagecontainer {
        width: 51em;
        margin: auto;
        margin-top: 1em;
        display: block;
    }

    .gamecontainer {
        height: 100%;
        width: 0%;
        margin: 0em;
        display:inline-flex;
        font-size:60px;
        line-height: 66px;
        font-family: "Verdana",Geneva, sans-serif;
        font-weight: bold;
        color:black;
    }

}
.buttonbarcontainer {
    margin: auto;
    display: inline-block;
}

.game {
    border-style: inset;
    border-width: 0.05em;
    border-spacing: 0px;
    border-color: #f6f6FF;
    background-color: black;
    padding: 0.05em;
    margin:auto;
    width: auto;
}

.clear {
    clear:both;
}

.blackcell {
    display: inline-block;
    float:left;
    border-style: outset;
    border-width: 0.05em;
    background-color: #E0E0FF;
    border-color: #f6f6FF;
    width: 1.2em;
    height: 1.2em;
    margin:0.1em;
    text-align: center;
    background-color: darkgrey;
}

.whitecell {
    display: inline-block;
    float:left;
    border-style: outset;
    border-width: 0.05em;
    background-color: #E0E0FF;
    border-color: #f6f6FF;
    width: 1.2em;
    height: 1.2em;
    margin:0.1em;
    text-align: center;
    background-color: white;
}

.row {
    display: inline-block;
    float: left;
    background-color:#eeeeee;
    padding: 0.05em;
    margin:0em;
    width: 11.35em;
    height: 1.5em;
}

.content {
    color: black;
}