@()

@main("HTWG Schach") {

    <h1>Hello World</h1>

    <p>
        Sudoku is a logic-based, combinatorial number-placement puzzle.
        The objective is to fill a 9×9 grid with digits so that each column, each row, and
        each of the nine 3×3 subgrids that compose the grid (also called "houses", "blocks",
        or "regions") contains all of the digits from 1 to 9. The puzzle setter provides a
        partially completed grid, which for a well-posed puzzle has a single solution.
    </p>

    <p>
        Completed games are always a type of Latin square with an additional constraint on
        the contents of individual regions. For example, the same single integer may not appear
        twice in the same row, column, or any of the nine 3×3 subregions of the 9x9 playing board.
    </p>

    <p>
        The following image shows a typical Sudoku puzzle. <br>
        <img src=@routes.Assets.versioned("images/Sudoku_Puzzle.png")>
    </p>

    <p>
        The solution to this puzzle is shown below. <br>
            <img src=@routes.Assets.versioned("images/Sudoku_Puzzle_solved.png")>
    </p>

    <h1>Historic Background</h1>

    <p>
        Number puzzles appeared in newspapers in the late 19th century, when French puzzle setters
        began experimenting with removing numbers from magic squares. Le Siècle, a Paris daily,
        published a partially completed 9×9 magic square with 3×3 subsquares on November 19, 1892.
        It was not a Sudoku because it contained double-digit numbers and required arithmetic rather
        than logic to solve, but it shared key characteristics: each row, column and subsquare added
        up to the same number.
    </p>

    <p>
        On July 6, 1895, Le Siècle's rival, La France, refined the puzzle so that it was almost a
        modern Sudoku. It simplified the 9×9 magic square puzzle so that each row, column, and broken
        diagonals contained only the numbers 1–9, but did not mark the subsquares. Although they are
        unmarked, each 3×3 subsquare does indeed comprise the numbers 1–9 and the additional constraint
        on the broken diagonals leads to only one solution.
    </p>

    <p>
        These weekly puzzles were a feature of French newspapers such as L'Echo de Paris for about a
        decade, but disappeared about the time of World War I.
    </p>

    <p>
        The modern Sudoku was most likely designed anonymously by Howard Garns, a 74-year-old retired
        architect and freelance puzzle constructor from Connersville, Indiana, and first published in
        1979 by Dell Magazines as Number Place (the earliest known examples of modern Sudoku).
        Garns's name was always present on the list of contributors in issues of Dell Pencil Puzzles
        and Word Games that included Number Place, and was always absent from issues that did not.
        He died in 1989 before getting a chance to see his creation as a worldwide phenomenon.
    </p>

    <p>
        The puzzle was introduced in Japan by Nikoli in the paper Monthly Nikolist in April 1984 as
        Sūji wa dokushin ni kagiru, which also can be translated as "the digits must be single" or
        "the digits are limited to one occurrence" (In Japanese, dokushin means an "unmarried person").
        At a later date, the name was abbreviated to Sudoku by Maki Kaji, taking only the first kanji
        of compound words to form a shorter version. "Sudoku" is a registered trademark in Japan and
        the puzzle is generally referred to as Number Place or, more informally, a portmanteau of the
        two words, Num(ber) Pla(ce). In 1986, Nikoli introduced two innovations:
        <ul>
            <li>the number of givens was restricted to no more than 32, and </li>
            <li>puzzles became "symmetrical" (meaning the givens were distributed in rotationally symmetric
                cells).</li>
        </ul>
    </p>

    <p>
        The Times began featuring Sudoku in late 2004 after a successful appearance in a local US newspaper,
        from the efforts of Wayne Gould, and rapidly spread to other newspapers as a regular feature.
        Gould devised a computer program to produce unique puzzles rapidly.
    </p>


}
