@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@(controller: de.htwg.se.Schach.controller.controllerComponent.controllerBaseImpl.ControllerInterface, message: String, user: models.User)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@size = @{
    8
}

@toScalar(rowIter: Int, colIter: Int) = @{
    rowIter * size + colIter
}
@row(scalar: Int) = @{
    scalar / size
}
@col(scalar: Int) = @{
    scalar % size
}

@getContent(rowIter: Int, colIter: Int) = {
    <div class="content">  @{
        controller.cellContains(rowIter, colIter)
    }

    </div>
}


@main("HTWG Schach", Some(user)) {
    <script src="@assets.path("javascripts/vue.js")" ></script>
    <script src="@assets.path("javascripts/schachVue.js")" ></script>

    <link rel="stylesheet" href='@assets.path("stylesheets/schach.css")' />

    <div id="schach-game" class="pagecontainer">

        <schach-field></schach-field>

        <div id="gamestatus" class="alert alert-primary" role="alert">
        @message
        </div>
    </div>
}
