@(controller:de.htwg.se.Schach.controller.controllerComponent.controllerBaseImpl.ControllerInterface)

@getContent(row:Int, col:Int)= {
    <span class="content">
    @{
    controller.cellContains(row, col)
    }
    </span>}

@main("HTWG Schach") {
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")' />
    <div class="gamecontainer">
        <div class="game">
        @for(row <- 0 until 8) {
            <div class="row">
            @for(col <- 0 until 8) {
                @if(controller.cellIsBlack(row, col)) {
                    <span class="blackcell">
                        @getContent(row, col)
                    </span>
                } else {
                    <span class="whitecell">
                        @getContent(row, col)
                    </span>
                }
            }
            <div class="clear"></div>
            </div>
        }
        </div>
    </div>
}
