@(controller:de.htwg.se.sudoku.controller.controllerComponent.ControllerInterface, message:String)

@size= @{ controller.gridSize }
@blocksize= @{ controller.blockSize}
@cellMode(house:Int, cell:Int) = @{
    val scalar = toScalar(house,cell)
    val row_ = row(scalar)
    val col_ = col(scalar)
    if(controller.isGiven(row_,col_)) "given" else {
        if(controller.isHighlighted(row_, col_)) {"highlighted"} else {"normal"}
    }
}
@toScalar(house:Int, cell:Int)=@{ house*size + cell}
@row(scalar:Int)=@{((scalar % size) /blocksize) + (blocksize * (scalar /(size*blocksize)))}
@col(scalar:Int)=@{(scalar %blocksize) + (blocksize *(scalar/size)) - (size*(scalar/(size*blocksize)))}
@cell(houseIndex:Int, cellIndex:Int) = @{controller.cell(row(toScalar(houseIndex,cellIndex)),col(toScalar(houseIndex,cellIndex)))}



@main("HTWG Sudoku") {
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/sudoku.css")' />

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">HTWG Sudoku</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/new">New</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/solve">Solve</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Highlight
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/highlight/0">None</a>
                        @for(hilite <- 1 to size) {
                            <a class="dropdown-item" href="/highlight/@hilite">@hilite</a>
                        }
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Size
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/resize/9">Large (9*9)</a>
                        <a class="dropdown-item" href="/resize/4">Small (4*4)</a>
                        <a class="dropdown-item" href="resize/1">Tiny (1*1)</a>
                    </div>
                </li>

            </ul>
        </div>
    </nav>

    <div class="pagecontainer">
        <div class="buttonbarcontainer">
            <label>
                Highlight
            </label>
            <div class="btn-group" >

                <a href="/highlight/0" class="btn btn-primary"> None </a>
                @for(index <- 1 to size) {
                    <a href="/highlight/@index" class="btn btn-primary"> @index </a>
                }
            </div>
        </div>


        <div class="gamecontainer">
            <div class="game">
                @for(houseIndex <- 0 until size) {
                    <div class="house size@size">
                        @for(cellIndex <- 0 until size) {
                            <div class="cell" id="scalar@{toScalar(houseIndex, cellIndex)}">
                                @if(cellIndex % blocksize==blocksize-1){<div class="clear"></div>}
                            </div>
                        }
                    </div>
                @if(houseIndex % blocksize==blocksize-1){<div class="clear"></div>}
                }
            </div>
        </div>
        <div class="alert alert-primary" role="alert">
            @message
        </div>
    </div>

}