@(controller:de.htwg.se.sudoku.controller.controllerComponent.ControllerInterface)

@size= @{ controller.gridSize }
@blocksize= @{ controller.blockSize}

@main("HTWG Sudoku") {
    <div class="gamecontainer">
        <div class="game">
            @for(row <- 0 until size) {
            <div class="house size@size">
                @for(col <- 0 until size) {
                    <span class="cell">
                        <span class="@{"number"}">
                            @{if(controller.cell(row, col).isSet) {controller.cell(row,col).toString.take(1)} else "_"}
                        </span>

                    </span>
                }
            </div>
            <div class="clear"></div>
            }
        </div>
    </div>
}