@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@(controller:de.htwg.se.sudoku.controller.controllerComponent.ControllerInterface, message:String, user: models.User)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)
    )

@size= @{ controller.gridSize }
@blocksize= @{ controller.blockSize}
@cellMode(house:Int, cell:Int) = @{
    val scalar = toScalar(house,cell)
    val row_ = row(scalar)
    val col_ = col(scalar)
    if(controller.isGiven(row_,col_)) "given" else {
        if(controller.isHighlighted(row_, col_)) {"highlighted"} else {"normal"}
    }
}
@toScalar(house:Int, cell:Int)=@{ house*size + cell}
@row(scalar:Int)=@{((scalar % size) /blocksize) + (blocksize * (scalar /(size*blocksize)))}
@col(scalar:Int)=@{(scalar %blocksize) + (blocksize *(scalar/size)) - (size*(scalar/(size*blocksize)))}
@cell(houseIndex:Int, cellIndex:Int) = @{controller.cell(row(toScalar(houseIndex,cellIndex)),col(toScalar(houseIndex,cellIndex)))}



@main("HTWG Sudoku", Some(user)) {
    <script src="@assets.path("javascripts/vue.js")" ></script>
    <script src="@assets.path("javascripts/sudokuVue.js")" ></script>

    <link rel="stylesheet" href='@assets.path("stylesheets/sudoku.css")' />

    <div id="sudoku-game" class="pagecontainer">

        <sudoku-highlight-button-bar></sudoku-highlight-button-bar>

        <sudoku-field></sudoku-field>

        <div class="alert alert-primary" role="alert">
        @message
        </div>

    </div>

}